<div class="logo">
  <img alt="CxWorkout" class="logo" src="./assets/images/cxworkout.png">

</div>
<hr color="black" size="5">

<div class="container citizen-signup">

  <div class="row">
    <div class="col-md-7 col-md-offset-2">
      <h3>Please set a new password</h3>
    </div>
  </div>

  <div class="row">
    <div class="col-md-7 col-md-offset-2">
      <form name="cxworkoutResetPasswordForm" novalidate class="form-horizontal">

        <div class="form-group has-feedback"
             ng-class="{ 'has-success' : cxworkoutResetPasswordForm.email.$valid, 'has-error' : cxworkoutResetPasswordForm.email.$showError && cxworkoutResetPasswordForm.email.$hasError()}">
          <div class="col-sm-9">
            <input name="email" id="email" ng-model="resetPasswordDTO.email" type="hidden"/>
          </div>
        </div>
        <div class="form-group has-feedback"
             ng-class="{ 'has-success' : cxworkoutResetPasswordForm.token.$valid, 'has-error' : cxworkoutResetPasswordForm.token.$showError && cxworkoutResetPasswordForm.token.$hasError()}">
          <div class="col-sm-9">
            <input name="token" id="token" type="hidden" ng-model="resetPasswordDTO.token"/>
          </div>
        </div>
        <div class="form-group has-feedback"
             ng-class="{ 'has-success' : cxworkoutResetPasswordForm.password.$valid, 'has-error' : cxworkoutResetPasswordForm.password.$showError && cxworkoutResetPasswordForm.password.$hasError()}">
          <label for="password" class="col-sm-3 control-label">Password</label>

          <div class="col-sm-9">
            <input name="password"
                   id="password"
                   type="password"
                   class="form-control"
                   placeholder="Enter password here..."
                   ng-pattern="/((?=.*[^a-zA-Z0-9])(?=.*[A-Z])(?=.*)).{6,20}/"
                   ng-model="resetPasswordDTO.password"
                   ng-minlength="6"
                   ng-maxlength="20"
                   required
                />

            <div ng-show="cxworkoutResetPasswordForm.password.$showError" class="error">
                            <span class="glyphicon  form-control-feedback" aria-hidden="true"
                                  ng-class="{'glyphicon-ok' : cxworkoutResetPasswordForm.password.$valid, 'glyphicon-remove' : cxworkoutResetPasswordForm.password.$showError && cxworkoutResetPasswordForm.password.$hasError()}"
                                ></span>

              <p ng-show="cxworkoutResetPasswordForm.password.$error.required">Password is required.</p>

              <p ng-show="cxworkoutResetPasswordForm.password.$error.pattern">Password must be 6-20 characters, with at
                least 1 uppercase and 1 special character</p>

              <p ng-show="cxworkoutResetPasswordForm.password.$error.minlength">Password must be 6-20 characters
                long.</p>

              <p ng-show="cxworkoutResetPasswordForm.password.$error.maxlength">Password must be 6-20 characters
                long.</p>
            </div>
          </div>
        </div>
        <div class="form-group has-feedback"
             ng-class="{ 'has-success' : cxworkoutResetPasswordForm.confirmPassword.$valid, 'has-error' : cxworkoutResetPasswordForm.confirmPassword.$showError && cxworkoutResetPasswordForm.confirmPassword.$hasError()}">
          <label for="confirmPassword" class="col-sm-3 control-label">Confirm Password</label>

          <div class="col-sm-9">
            <input name="confirmPassword"
                   id="confirmPassword"
                   type="password"
                   class="form-control"
                   placeholder="Confirm password..."
                   ng-model="resetPasswordDTO.confirmPassword"
                   aet-match="resetPasswordDTO.password"
                   required
                />

            <div ng-show="cxworkoutResetPasswordForm.confirmPassword.$showError " class="error text-danger">
                            <span class="glyphicon  form-control-feedback" aria-hidden="true"
                                  ng-class="{'glyphicon-ok' : cxworkoutResetPasswordForm.confirmPassword.$valid, 'glyphicon-remove' : cxworkoutResetPasswordForm.confirmPassword.$showError && cxworkoutResetPasswordForm.confirmPassword.$hasError() && cxworkoutResetPasswordForm.password.$valid && resetPasswordDTO.confirmPassword.length}"
                                ></span>

              <p ng-show="cxworkoutResetPasswordForm.confirmPassword.$error.required">Confirm Password is required.</p>

              <p ng-show="cxworkoutResetPasswordForm.confirmPassword.$error.match">Passwords don't match.</p>
            </div>
          </div>
        </div>
        <div class="form-group">
          <div class="col-sm-offset-3 col-sm-9">
            <button class="btn btn-success"
                    type="submit"
                    ng-disabled="cxworkoutResetPasswordForm.$invalid"
                    ng-click="passwordReset()">
              Save
            </button>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>
