<h1 class="page-header">
	Forms
</h1>

<div class="row search-screen permit-landing">

	<div class="col-sm-12">


		<div class="row">

			<div class="col-sm-4">
				<button ng-if="formCategory=='Drafts'" class="btn btn-lg btn-primary" ui-sref="index.secured.formBuilder.create" title="new permit">
					<span class="glyphicon glyphicon-plus" aria-hidden="true"></span> New Form
				</button>
			</div>

			<div class="col-sm-4">
				<aet-search-input search-manager="searchManager"></aet-search-input>
			</div>
		</div>

		<div class="row">

			<div class="col-sm-12">
				
				<aet-search search-manager="searchManager" row-name="permit">

					<aet-search-column name="name" label="Name" searchable="true"></aet-search-column>
					
					<button aet-action-button 
							class="btn btn-sm btn-default" 
							title="edit" 
							type="submit" 
							ng-click="editForm(permit)">
						<span class="glyphicon glyphicon-edit"></span>
					</button>
					
					<button aet-action-button 
							class="btn btn-sm btn-danger" 
							title="delete" 
							type="submit" 
							ng-click="deleteForm(permit)">
						<span class="glyphicon glyphicon-trash"></span>
					</button>

				</aet-search>

			</div>

		</div>

	</div>

</div>