<h1 class="page-header">
	Edit Field
</h1>

<div class="row">
	<div class="col-sm-offset-2 col-sm-6">
		<form name="editMasterFieldForm" novalidate class="form-horizontal">
			<div class="form-group has-feedback"
				ng-class="{ 'has-success' : editMasterFieldForm.name.$valid, 'has-error' : editMasterFieldForm.name.$showError && editMasterFieldForm.name.$hasError()}"
			>
				<label for="name" class="col-sm-3 control-label">Name *</label>
				<div class="col-sm-9">
					<input name="name"
						   id="name"
						   type="text"
						   class="form-control"
						   placeholder="A short name to identify the master field ..."
						   ng-model="masterfield.name"
						   ng-pattern="/^[a-z\d\s]+$/i"
						   required
						   ng-maxlength="25"
						   aria-describedby="inputSuccess2Status"
						   />
					 <span class="glyphicon  form-control-feedback" aria-hidden="true"
						  ng-class="{'glyphicon-ok' : editMasterFieldForm.name.$valid, 'glyphicon-remove' : editMasterFieldForm.name.$showError && editMasterFieldForm.name.$hasError()}"
					></span> 
					 <div ng-show="editMasterFieldForm.name.$showError">
						<span class="text-danger" ng-show="editMasterFieldForm.name.$error.required">Name is required.</span>
						<span class="text-danger" ng-show="editMasterFieldForm.name.$error.maxlength">Name must be 25 characters or less</span>
						<span class="text-danger" ng-show="editMasterFieldForm.name.$error.pattern">Name cannot contain special characters</span>
					 </div> 
				</div>
			</div>

			<div class="form-group has-feedback"
				ng-class="{ 'has-success' : editMasterFieldForm.label.$valid, 'has-error' : editMasterFieldForm.label.$showError && editMasterFieldForm.label.$hasError()}"
			>
				<label for="label" class="col-sm-3 control-label">Label *</label>
				<div class="col-sm-9">
					<input name="label"
						   id="label"
						   type="text"
						   class="form-control"
						   placeholder="The name that actually appears on a permit..."
						   ng-model="masterfield.label"
						   required
						   ng-maxlength="255"
						   />
					 <span class="glyphicon form-control-feedback" aria-hidden="true"
						  ng-class="{ 'glyphicon-ok' : editMasterFieldForm.label.$valid, 'glyphicon-remove' : editMasterFieldForm.label.$showError && editMasterFieldForm.label.$hasError() }"
					></span> 
					<div ng-show="editMasterFieldForm.label.$showError">
						<span class="text-danger" ng-show="editMasterFieldForm.label.$error.required">Label is required.</span>
						<span class="text-danger" ng-show="editMasterFieldForm.label.$error.maxlength">Label must be 255 characters or less</span>
					</div>
				</div>
			</div>
			
			<div class="form-group has-feedback"
				ng-class="{ 'has-error' : editMasterFieldForm.tooltip.$showError && editMasterFieldForm.tooltip.$hasError()}"
			>
				<label for="tooltip" class="col-sm-3 control-label">Tool Tip</label>
				<div class="col-sm-9">
					<input name="tooltip"
						   id="tooltip"
						   type="text"
						   class="form-control"
						   placeholder="A Tool Tip message that will display on hover..."
						   ng-model="masterfield.tooltip"
						   ng-maxlength="255"
						   />
					<div ng-show="editMasterFieldForm.tooltip.$showError">
						<span class="text-danger" ng-show="editMasterFieldForm.tooltip.$error.maxlength">Tool tip must be 255 characters or less</span>
					</div>
				</div>
			</div>

			<div class="form-group has-feedback"
				ng-class="{ 'has-error' : editMasterFieldForm.maxLength.$showError && editMasterFieldForm.maxLength.$hasError()}"
			>
				<label for="maxLength" class="col-sm-3 control-label">Max Length</label>
				<div class="col-sm-9">
					<input name="maxLength"
						   id="maxLength"
						   type="number"
						   min="1"
						   ng-minlength="1"
						   class="form-control"
						   placeholder="The maximum length of this master field's value..."
						   ng-model="masterfield.maxLength"
						   ng-pattern="/^-?\d+$/"
						   />
					<div ng-show="editMasterFieldForm.maxLength.$showError">
						<span class="text-danger" ng-show="editMasterFieldForm.maxLength.$error.number">Max length must be a number</span>
						<span class="text-danger" ng-show="editMasterFieldForm.maxLength.$error.min && !editMasterFieldForm.maxLength.$error.pattern">Max length must be greater than zero</span>
						<span class="text-danger" ng-show="editMasterFieldForm.maxLength.$error.pattern">The value is not an integer</span>
					</div> 
					
				</div>
			</div>

			<div class="form-group">
				<div class="col-sm-offset-3 col-sm-9">
					<div class="checkbox">
						<label class="bold-text">
							<input name="mandatory"
								   type="checkbox"
								   ng-model="masterfield.isMandatory"
							/>
							 Required
						</label>
						<label class="bold-text col-sm-offset-1">
							<input name="hidden"
								   type="checkbox"
								   ng-model="masterfield.hidden"
									/>
							Hidden
						</label>
					</div>
				</div>
			</div>
			
			<div class="form-group has-feedback"
				 ng-class="{ 'has-success' : editMasterFieldForm.valueType.$valid, 'has-error' : editMasterFieldForm.valueType.$showError && editMasterFieldForm.valueType.$hasError()}">
				<label for="valueType" class="col-sm-3 control-label">Value Type *</label>
				<div class="col-sm-9">
					<select name="valueType"
							id="valueType"
							class="form-control"
							ng-model="masterfield.valueType"
							ng-options="valueType for valueType in valueTypes"
							required>
					</select>
					<div ng-show="editMasterFieldForm.valueType.$showError">
						<span class="text-danger" ng-show="editMasterFieldForm.valueType.$error.required">Value Type is required.</span>
					</div> 
					<div>
						<span class="text-info" ng-show="(masterfield.valueType == 'SINGLE_SELECT' || masterfield.valueType == 'MULTI_SELECT') && masterfield.options.length < 2">Add two or more options</span>
					</div>
				</div>
			</div>
			
			<div class="form-group" ng-show="masterfield.valueType == 'SINGLE_SELECT' || masterfield.valueType == 'MULTI_SELECT'">
				<div class="col-sm-offset-3  col-sm-2">
					<button class="btn btn-xs btn-primary"
							type="submit"
							ng-click="addOption(option)">
						Add option
					</button>
				</div>
				<div class="col-sm-7">
					<input class="form-control input-xs"
						   name="option"
						   id="option"
						   type="text"
						   class="form-control"
						   ng-model="option"
						   />
				</div>
				
			</div>
			
			<div class="form-group" ng-show="masterfield.valueType == 'SINGLE_SELECT' || masterfield.valueType == 'MULTI_SELECT'">
				<div class="col-sm-offset-3 col-sm-9">
					<table class="table">

					<tbody>
			
						<tr ng-repeat="option in masterfield.options">
			
							<td>{{option}}</td>
			
							<td>
								<button class="btn btn-xs btn-danger pull-right" title="delete" type="submit" ng-click="deleteOption($index)">
									<span class="glyphicon glyphicon-trash"></span>
								</button>
							</td>
						</tr>
			
					</tbody>
			
				</table>
				</div>
			</div>

			<div class="form-group">
				<div class="col-sm-offset-3 col-sm-9">
					<button class="btn btn-primary"
							type="submit"
							ng-disabled="editMasterFieldForm.$invalid || ((masterfield.valueType == 'SINGLE_SELECT' || masterfield.valueType == 'MULTI_SELECT') && masterfield.options.length < 2)"
							ng-click="submitMasterFieldForm(masterfield)">
						Save
					</button>
				</div>
			</div>
			
		</form>
	</div>
</div>