<div class="loader" ng-show="loader" data-html2canvas-ignore="true">
    <div class="backdrop"></div>
    <div class="loader-container">
      <div id="loader"></div>
      <h1 ng-hide="loaderText">Updating...</h1>
      <h1 ng-show="loaderText">{{loaderText}}</h1>
    </div>
  </div>
<aside class="sidebar">
	<div class="" ui-view="sidebar"></div>
</aside>

<header class="navbar-fixed-top header" ui-view="header"></header>



<div class="sidebar-offset full-height">
  <aet-alerts></aet-alerts>
	<main ui-view="main" class="main fade-transition"></main>

<!--	<footer ui-view="footer" class="footer"></footer>-->
</div>
