form{
  &.form-horizontal {
    .form-group {
      label {
        &.control-label {
          padding-right: 25px;
          color: @secondary-color;
        }
      }
      .radio {
        padding-top: 0;
      }
      div{
        .form-control{
          &.upload{
            padding: 3px;
            .buttons{
              .btn{
                font-size: @default-font-size;
                text-transform: none;
              }
            }
          }
        }
      }
    }
  }
}

.form-control {
  background-color: @form-control-bg-color;
  border: 1px solid @form-control-border-color;
  &[type=file]{
    height: inherit;
  }
}