<h1 class="page-header">
  Employee List
</h1>

<div class="row search-screen listsemployee-landing">

  <div class="col-sm-12">

    <div class="row search-ctrl">
      <div class="col-sm-4">
        <button aet-has-permission="CREATE_CUSTOMER_LIST" class="btn btn-lg btn-primary" title="new listsemployee" ui-sref="index.secured.listsemployee.create">
          <span aria-hidden="true" class="c-icon c-icon-plus"></span>
          Create New Employee List
        </button>
      </div>
      <div class="col-sm-4 pull-right">
        <div class="input-group input-group-lg search-input">
          <input  class="form-control input-lg" ng-change="searchManager.debouncedSearch()" ng-model="searchManager.query" placeholder="Search Employee Lists" type="text"/>
          <span class="input-group-addon" id="basic-addon2"><i class="glyphicon glyphicon-search"></i></span>
        </div>
      </div>
    </div>

    <div class="row">

      <div class="col-sm-12">
        <aet-search row-name="employeeList" search-manager="searchManager">

          <aet-search-column label="Title" name="title" searchable="true"></aet-search-column>
          <aet-search-column label="Creator" name="creatorName" searchable="true"></aet-search-column>
          <aet-search-column label="Created Date" name="createdDate" searchable="false"></aet-search-column>
          <button aet-action-button aet-has-permission="VIEW_CUSTOMER_LIST" class="btn btn-sm btn-success" ng-click="editEmployeeList(employeeList)" title="edit" type="submit">
            <span class="glyphicon glyphicon-pencil"></span>
          </button>

          <button aet-action-button aet-has-permission="DELETE_CUSTOMER_LIST" class="btn btn-sm btn-danger" ng-click="deleteEmployeeList(employeeList)" title="delete" type="submit">
            <span class="glyphicon glyphicon-trash"></span>
          </button>

        </aet-search>

      </div>

    </div>

  </div>

</div>
